<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script type="text/javascript">
    const $ = jQuery = require("jquery");
  </script>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="userConf/style.css" />
  <script src="userConf/script.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../assets/css/materialize.min.css" />
  <script src="../assets/js/materialize.min.js" charset="utf-8"></script>
</head>

<body>
  <div class="body-container">
    <div class="app-head">
      <h1>Kasir</h1>
      <h3>Apa yang ingin anda lakukan?</h3>
    </div>
    <div class="app-body">

      <div class="row cards">
        <div class="s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="../assets/pictures/add.png">
              <span class="card-title">Tambah Barang</span>
            </div>
            <div class="card-content">
              <p>Pilih menu ini untuk menambah barang baru</p>
            </div>
            <div class="card-action">
              <a href="tambah-barang.html">Klik Disini</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row cards">
        <div class="s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="../assets/pictures/setting.png">
              <span class="card-title">Gudang</span>
            </div>
            <div class="card-content">
              <p>Pilih menu ini untuk konfigurasi barang anda</p>
            </div>
            <div class="card-action">
              <a href="#">Klik Disini</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row cards">
        <div class="s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="../assets/pictures/minus.png">
              <span class="card-title">Pembelian</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <div class="card-action">
              <a href="pembelian.html">Klik Disini</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
