.body-container {
  margin: 0 auto;
  max-width: 99%;
  text-align: center;
}

.app-body {
  min-width: 500px;
  display: inline-block;
  padding: 25px;
}

.table-title td {
  text-align: center;
  font-weight: bold;
}
